@import "../variables/variables.scss";
//边框
.#{$prefix}border {
  border: 1px solid $borderColor;
}
//清除边框
.#{$prefix}border-0 {
  border: none;
}
@each $direction in $directions {
  .#{$prefix}border-#{$direction} {
    border-#{$direction}: 1px solid $borderColor;
  }
  .#{$prefix}border-#{$direction}-0 {
    border-#{$direction}: none;
  }
}

//边框颜色
@each $color in $colors {
  .#{$prefix}border-#{$color} {
    border-color: $color;
  }
}

//边框圆角
.#{$prefix}rounded {
  border-radius: .25rem;
}
.#{$prefix}rounded-circle {
  border-radius: 50%;
}
.#{$prefix}rounded-pill {
  border-radius: 50rem;
}
.#{$prefix}rounded-0 {
  border-radius: unset;
}